# DOCKER
DOCKER_DEPLOY=1

# MOD
DEBUG=1

# DJANGO
DJANGO_SECRET_KEY=django-insecure-51^#&#o8m2ozeg=9bpp_gwl=g216yovasbqocvef6j9qy%0x^k
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 0.0.0.0

# DATABASE
DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_NAME=pollsdev
DATABASE_USER=pollsdevuser
DATABASE_PASSWORD=postgresmaster
DATABASE_HOST=172.18.0.2
DATABASE_PORT=1221

# POSTGRES
POSTGRES_USER=pollsdevuser
POSTGRES_PASSWORD=postgresmaster
POSTGRES_DB=pollsdev